.select-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.popover-content {
  width: 16px;
  height: 16px;
}

.info-icon {
  transition: transform 0.3s ease;
}

.info-icon:hover {
  transform: scale(1.1);
}
